.batteryPrognosisContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(89, 89, 89, 0.345);
    z-index: 100;
  
   
    
}



.batteryPrognosisPopup{
    width: 30%;
    height: 30%;
    background-color: rgba(50, 50, 50, 0.571);
    box-shadow: 10px 10px 10px black;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.inputsSection{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
  
}

.inputsSection input{
     border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    padding: 8px 4px;
    font-size: 20px;
    font-weight: bold;
    transition: border-color 0.3s ease;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0);
}
.batteryPrognosisPopupHeader{
    color: white;
    position: relative;
    left: 10px;
    top: 10px;
    width: 100%;
    height: 20%;
  
}

.popupButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.popupButton{
     background: linear-gradient(145deg, #1c1c1c, #2d2d2d);
  color: #00ff9f; /* Tactical neon green */
  border: 2px solid #00ff9f;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px #00ff9f88, inset 0 0 5px #00ff9f55;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-clip: padding-box;
}