.droneDataPopup{
    width: 40%;
    height: 95%;
 
    background-color: rgba(50, 50, 50, 0.822);
    box-shadow: 10px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
  

}
.droneDataInfo{
    
    font-size: 17px;
    color: white;
    width: 70%;
    height: 100%;
      padding: 20px;
         min-height:400px;
    
}

.DroneDataHeader{
    color: white;
    width: 70%;
    font-size: 25px;
}