
.liveDataPage{
 
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    min-width: 900px;
    overflow-y: hidden;
    overflow-x: hidden;
}